header{
    width: 954px;
    height: 80px;
    margin: 40px auto 30px;
    display: flex;
    align-items: center;
    font: 14px important;
}
.site-logo{
    margin: 0;
    width: 82px;
    height: 54px;
    background-position: -188px -808px;
    background-image: url(//s0.meituan.net/bs/file/?f=fe-sso-fs:build/assets/sp-normal.2ee5c09.png);
    background-size: initial;
    display: inline-block;
}
.content{
    width: 980px;
    height:370px;
    /* border:1px solid red; */
    margin:0 auto 70px;
    display: flex;
    justify-content: space-between;
}
.site-left{
    width: 480px;
    height:370px;
}
.site-right{
    width: 270px;
    height:342px;
     border:1px solid red;
    
}